#trainScheduleHeader {
    background-color:rgba(76, 86, 173, 0.836);
    padding:5px;
    color:white;
}

#AddTrainHeader {
    background-color:rgba(76, 86, 173, 0.836);
    padding:5px;
    color:white;
    
}

#trainScheduleContainer {
    border-color: rgba(76, 86, 173, 0.836);
    border-style:solid;
    border-width: 4px;
    margin-left:50px;
    margin-right:50px;
   
}

#AddTrainContainer {
    border-color: rgba(76, 86, 173, 0.836);
    border-style:solid;
    border-width: 4px;
    margin-left:50px;
    margin-right:50px;
    
}

.jumbotron {
    background-color:rgba(161, 78, 45, 0.836);
    color:white;
    margin-left:50px;
    margin-right:50px;

}

